@font-face {
	font-weight: normal;
	font-family: "SF Pro Text";
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
	font-weight: bold;
	font-family: "SF Pro Text Bold";
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 16px;
	font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
	overflow: hidden;
	margin: 0 auto;
	width: 940px;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	background: linear-gradient(to right, #777dff, #497ce2, #37bdde, #f154ff, #f0357c);
}

/* Menu Normal */
.primaryMenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 48px;
	list-style: none;
}

.menuItem {
	position: relative;
	flex-direction: row;
}

.menuItem a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.menuItem:hover a {
	opacity: 0.65;
	transition: 0.2s;
}

.menuItem a img {
	height: 14px;
}

#logo {
	font-size: 16px;
	font-family: "SF Pro Text Bold";
}

/* Menu Reponsive*/
.menu-responsive {
	display: none;
}

div.responsive-menu {
	display: none;
}

div.hamburger-nav {
	display: none;
}

/* IF CLICK : OPEN */
div.responsive-menu-open {
	display: flex;
	justify-content: space-between;
}

/* IF NOT CLICK : CLOSE */
div.responsive-menu-none {
	display: none;
}

.flex {
	display: flex;
}

.homepod {
	position: relative;
	margin-top: 48px;
	height: 60px;
	border-bottom: 1px solid #999;
	background: white;
}

.homepod a {
	position: absolute;
	bottom: 10px;
	border: 0;
	color: grey;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

/* Button acheter */
.buy-button {
	padding: 5px 10px;
	border-color: #07c;
	border-radius: 4px;
	background: linear-gradient(#42a1ec, #0070c9);
	background-color: #0070c9;
	color: white;
	text-align: center;
	text-decoration: none;
}

.buy-button:hover {
	border-color: #1482d0;
	background: linear-gradient(#51a9ee, #147bcd);
	background-color: #147bcd;
	text-decoration: none;
}

/* Submenu */
.subMenu {
	position: absolute;
	display: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.subMenu a {
	background: white;
	color: #333;
	text-decoration: none;
}

.menuItem:hover .subMenu {
	display: block;
}

/* Main */
main {
	overflow: hidden;
	width: 100vw;
}

/* Hero */
.hero {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 50px;
	width: 80vw;
	height: 70vh;
}

.slider {
	position: relative;
	overflow: hidden;
	width: 420px;
	height: 480px;
}

.sliderContainer {
	position: absolute;
	display: flex;
	transition: ease-in .5s all;

	will-change: left;
}

.sliderContainer img {
	margin: 0 10px;
}

.dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 10px;
	transform: translateX(-50%);
}

.dots li {
	display: inline-block;
}

.dots li a {
	padding: 1px 10px;
	border: 1px solid #888;
	border-radius: 50%;
	background-color: #f2f2f2;
	text-decoration: none;
}

.dots li a.current {
	background-color: #888;
}

.hero-informations {
	display: flex;
	flex-direction: column;
	margin-left: 20vh;
	width: 310px;
}

.hero-informations .color-selec {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.hero-informations .color-selec * {
	margin: 10px 0;
}

.hero-informations .color-selec .color-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	width: 150px;
	height: 100%;
	border-radius: 4px;
	background: #f2f2f2;
	cursor: pointer;
}

.hero-informations .color-selec .color-item.selector-choice {
	border: 2px solid #07c;
}

.hero-informations .color-selec .color-item:first-child {
	margin-right: 15px;
}

.hero-informations .color-selec .color-item p {
	font-size: 16px;
}

.hero-informations h1 {
	margin-bottom: 10px;
	font-size: 32px;
	font-family: "SF Pro Text Bold";
}

.color-circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.color-circle.white {
	background: white;
}

.color-circle.grey {
	background: #333;
}

.infos-price .infos-price-full {
	position: relative;
	margin: 20px 0px;
	font-size: 22px;
	font-family: "SF Pro Text Bold";
}

.separator {
	margin: 15px 0;
	width: 100%;
	height: 1px;
	background: #888;
}

.infos-price-tva-offer {
	margin: 5px 0px;
	color: #888;
	font-size: 12px;
}

.icon-apple::before {
	margin-right: 5px;
	color: red;
	content: "";
}

.infos-care {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	padding: 15px 20px;
	border: 1px solid #0070c9;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.infos-care.enabled {
	border: 1px solid #07c;
	background: linear-gradient(#42a1ec, #0070c9);
	background-color: #0070c9;
	color: white;
}

.infos-care.enabled .disclaimer {
	color: white;
}

.infos-care:hover {
	transform: translateY(-2px);
}

.infos-care p:first-child {
	margin-bottom: 15px;
	font-family: "SF Pro Text Bold";
}

.infos-care ul li {
	margin: 5px 0;
	text-align: left;
}

.infos-care ul li:nth-child(2) {
	font-family: "SF Pro Text Bold";
}

.infos-care .disclaimer {
	margin: 15px 0;
	color: #888;
}

/*OK*/
.titleCaract {
	margin-top: 80px;
	text-align: center;
}

.titleCaract h2 {
	margin-top: 20px;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: "SF Pro Text Bold";
}

h3 {
	margin-bottom: 15px;
	font-family: "SF Pro Text Bold";
}

.titleCaract p {
	margin-top: 20px;
	letter-spacing: 0.5px;
	font-size: 20px;
}

.titleCaract img {
	margin-top: 30px;
	margin-bottom: 60px;
	width: 760px;
}

.text-caract {
	display: flex;
	flex-direction: row;
	margin-top: -50px;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 30px;
	font-size: 40px;
	line-height: 1.05;
}

.image-caract img {
	display: block;
	margin-top: 100px;
	width: 240px;
	height: 587px;
}

.block1-1,
.block1-2 {
	display: block;
	flex-direction: row;
	margin-top: 20px;
	padding: 0px;
	width: 100%;
	border-radius: 4px;
}

.block1 {
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-top: 1px solid #888;
}

.block-principal {
	margin-top: 70px;
	margin-left: 75px;
	font-size: 16px;
}

.block-principal li {
	margin-bottom: 5px;
}

.block2-1,
.block2-2 {
	display: block;
	flex-direction: row;
	margin-top: 20px;
	padding: 0px;
	width: 100%;
	border-radius: 4px;
}

.block2 {
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-top: 1px solid #888;
}

.block3-1,
.block3-2 {
	display: block;
	flex-direction: row;
	margin-top: 20px;
	padding: 0px;
	width: 100%;
	border-radius: 4px;
}

.block3 {
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-top: 1px solid #888;
}

/*Footer*/
#footer {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	height: auto;
	/* Déclaration du css footer */
	background-color: #f2f2f2;
	font-size: 11px;
}

footer .footer-container-1 {
	/* Déclaration du css footer .footer-container */
	padding-top: 20px;
}

footer .footer-container-1 .col-1 {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
	background-color: #f2f2f2;
	font-size: 11px;
}

/* ul et li du footer */
ul {
	padding: 0px;
	list-style: none;
	text-align: center;
}

ul li {
	padding: 2px 0;
	list-style: none;
	text-align: center;
}

/* Les titres boutons du footers */
footer p.title-footer {
	display: block;
	color: #333;
	list-style: none;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	line-height: 1.5;
	cursor: pointer;
}

/* Les Sous-titres boutons du footers */
footer a.subtitle-footer {
	display: block;
	color: #333;
	list-style: none;
	text-align: left;
	text-decoration: none;
	font-size: 10px;
	line-height: 1.7;
	cursor: pointer;
}

.col-2-1 p {
	margin-top: 40px;
}

/* ------------------------------------------*/
/* RESPONSIVE */
/*Format Téléphone (- 440PX) */
@media only screen and (max-width : 440px) {

	/*Taille de la fenetre*/
	.container {
		width: 100%;
	}

	/*Menu normal avec responsive */
	.primaryMenu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 48px;
		list-style: none;
	}

	header nav {
		width: 100vw
	}

	.menuItem {
		display: none;
	}

	div.hamburger-nav {
		display: flex;
		justify-content: space-between;
	}

	header nav.container {
		margin: 0;
		width: 100%;
	}

	button.hamburger {
		margin: 0;
	}

	ul.primaryMenu {
		display: none;
	}

	.menu-responsive {
		display: block;
		margin-right: 40px;
	}

	.menu-responsive a {
		color: white;
		text-decoration: none;
		font-size: 20px;
	}

	.menu-responsive:hover a {
		opacity: 0.65;
		transition: 0.2s;
	}

	.menu-responsive a img {
		height: 16px;
	}

	.menu-responsive #logo-responsive {
		padding-left: 50px;
		font-size: 20px;
		font-family: "SF Pro Text Bold";
	}

	/*Menu responsive */
	.primaryMenu-responsive {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 180px;
		list-style: none;
	}

	li.menuItem-responsive {
		padding: 5px;
	}

	.menuItem-responsive {
		position: relative;
		flex-direction: row;
	}

	.menuItem-responsive a {
		color: white;
		text-decoration: none;
		font-size: 14px;
	}

	.menuItem-responsive:hover a {
		opacity: 0.65;
		transition: 0.2s;
	}

	.menuItem-responsive a img {
		height: 14px;
	}

	#logo {
		font-size: 16px;
		font-family: "SF Pro Text Bold";
	}

	a#logo-responsive {
		display: block;
		margin: 18px 0;
	}

	/* Main */
	.hero {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 90vw;
	}

	div.titleCaract {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 600px;
	}

	div.noTop {
		margin-top: 0;
	}

	.hero-informations {
		display: flex;
		flex-direction: column;
		margin-left: 8vh;
		width: 310px;
	}

	.slider {
		position: relative;
		overflow: hidden;
		width: 420px;
		height: 480px;
	}

	.titleCaract h2 {
		margin-top: 20px;
		margin-left: 20px;
		letter-spacing: 1px;
		font-weight: bold;
		font-size: 30px;
	}

	.text-caract {
		flex-direction: column;
	}

	.text-caract .image-caract {
		margin-right: auto;
		margin-left: auto;
	}

	.block-principal {
		margin-top: 70px;
		margin-right: 30px;
		margin-left: 30px;
		font-size: 16px;
	}

	div.titleCaract {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/* Footer*/
	footer .footer-container-1 .col-1 {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		width: 100%;
		height: auto;
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
	}

	footer p.title-footer {
		display: block;
		padding-top: 5px;
		color: #111;
		list-style: none;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-size: 15px;
	}

	footer a.subtitle-footer {
		display: block;
		color: #555;
		list-style: none;
		text-align: center;
		text-decoration: none;
		line-height: 1.7;
		cursor: pointer;
	}

	.col-2-1 p {
		padding: 0;
		padding-top: 40px;
	}

}

/*Format Téléphone (440PX/760PX) */
@media only screen and (min-width : 440px) and (max-width : 979px) {

	/*Taille de la fenetre*/
	.container {
		width: 100%;
	}

	/*Menu normal avec responsive */
	.primaryMenu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 48px;
		list-style: none;
	}

	header nav {
		width: 100vw
	}

	.menuItem {
		display: none;
	}

	div.hamburger-nav {
		display: flex;
		justify-content: space-between;
	}

	header nav.container {
		margin: 0;
		width: 100%;
	}

	button.hamburger {
		margin: 0;
	}

	ul.primaryMenu {
		display: none;
	}

	.menu-responsive {
		display: block;
		margin-right: 40px;
	}

	.menu-responsive a {
		color: white;
		text-decoration: none;
		font-size: 20px;
	}

	.menu-responsive:hover a {
		opacity: 0.65;
		transition: 0.2s;
	}

	.menu-responsive a img {
		height: 16px;
	}

	.menu-responsive #logo-responsive {
		padding-left: 50px;
		font-size: 20px;
		font-family: "SF Pro Text Bold";
	}

	/*Menu responsive */
	.primaryMenu-responsive {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100vw;
		height: 180px;
		list-style: none;
	}

	li.menuItem-responsive {
		padding: 5px;
	}

	.menuItem-responsive {
		position: relative;
		flex-direction: row;
	}

	.menuItem-responsive a {
		color: white;
		text-decoration: none;
		font-size: 14px;
	}

	.menuItem-responsive:hover a {
		opacity: 0.65;
		transition: 0.2s;
	}

	.menuItem-responsive a img {
		height: 14px;
	}

	#logo {
		font-size: 16px;
		font-family: "SF Pro Text Bold";
	}

	a#logo-responsive {
		display: block;
		margin: 18px 0;
	}

	/* Main */
	div.hero {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100vw;
	}

	div.titleCaract {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 600px;
	}

	div.noTop {
		margin-top: 0;
	}

	.text-caract {
		flex-direction: column;
	}

	.text-caract .image-caract {
		margin-right: auto;
		margin-left: auto;
	}

	.hero-informations {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 310px;
	}

	.slider {
		position: relative;
		left: 25%;
		overflow: hidden;
		width: 420px;
		height: 480px;
		transform: translateX(-25%);
	}

	.sliderContainer img {
		margin: 0;
	}

	.titleCaract h2 {
		margin-top: 20px;
		margin-left: 20px;
		letter-spacing: 1px;
		font-weight: bold;
		font-size: 30px;
	}

	.text-caract {
		flex-direction: column;
	}

	.text-caract .image-caract {
		margin-right: auto;
		margin-left: auto;
	}

	.block-principal {
		margin-top: 70px;
		margin-right: 30px;
		margin-left: 30px;
		font-size: 16px;
	}

	div.titleCaract {
		display: block;
	}

	/* Footer*/
	footer .footer-container-1 .col-1 {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		height: auto;
		background-color: #f2f2f2;
		font-size: 11px;
	}

	div.col-1 div {
		width: 50%;
	}

	footer p.title-footer {
		display: block;
		padding-top: 5px;
		color: #111;
		list-style: none;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		font-size: 15px;
	}

	footer a.subtitle-footer {
		display: block;
		color: #555;
		list-style: none;
		text-align: center;
		text-decoration: none;
		line-height: 1.7;
		cursor: pointer;
	}

	.col-2-1 p {
		margin-top: 40px;
		padding: 0;
	}

	/*Format Tablette (760PX/1080PX) */
	@media only screen and (min-width : 980px) and (max-width : 1080px) {

		/*Taille de la fenetre*/
		.container {
			margin: 0 auto;
			width: 100%;
		}

		/* Menu */
		/* Main*/
		/* Footer*/
		footer .footer-container-1 .col-1 {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: auto;
			/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
			background-color: #f2f2f2;
			font-size: 11px;
		}

		footer p.title-footer {
			display: block;
			padding-top: 5px;
			color: #111;
			list-style: none;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			font-size: 15px;
		}

		footer a.subtitle-footer {
			display: block;
			color: #555;
			list-style: none;
			text-align: center;
			text-decoration: none;
			line-height: 1.7;
			cursor: pointer;
		}

		.col-2-1 p {
			padding-top: 10px;
			font-size: 12px;
		}

	}

	/*Format grands écrants (+1480PX) */
	@media only screen and (min-width :1480px) {

		/* Menu*/
		/* Main*/
		/* Footer*/
		footer .footer-container-1 .col-1 {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: auto;
			/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
			background-color: #f2f2f2;
			font-size: 11px;
		}

		footer p.title-footer {
			display: block;
			padding-top: 5px;
			color: #111;
			list-style: none;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			font-size: 15px;
		}

		footer a.subtitle-footer {
			display: block;
			color: #555;
			list-style: none;
			text-align: center;
			text-decoration: none;
			line-height: 1.7;
			cursor: pointer;
		}

		.col-2-1 p {
			padding-top: 10px;
			font-size: 12px;
		}

	}
}

.pedagogicalMention{
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}