@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

  @font-face {
    font-family: "SF Pro Text Bold";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
  }

  .container {
    width: 940px;
		margin: 0 auto;
		overflow: hidden;
  }

  #header{
    z-index: 10;
    background: linear-gradient(to right, #777dff,#497ce2, #37bdde, #f154ff, #f0357c);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  /* Menu Normal */

  .primaryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
  }

  .menuItem {
    flex-direction: row;
    position: relative;
  }

  .menuItem a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .menuItem:hover a {
    opacity: 0.65;
    transition: 0.2s;
  }

  .menuItem a img {
    height: 14px;
  }

  #logo {
    font-size: 16px;
    font-family: "SF Pro Text Bold";
  }

  /* Menu Reponsive*/

  .menu-responsive{
    display: none;
  }

  div.responsive-menu{
    display: none;
  }

  div.hamburger-nav{
    display: none;
  }

  /* IF CLICK : OPEN */
   div.responsive-menu-open{
     display: flex;
     justify-content: space-between;
   }

   /* IF NOT CLICK : CLOSE */
   div.responsive-menu-none{
     display: none;
   }

  .flex{
      display: flex;
  }


  .homepod{
    background: white;
    height: 60px;
    border-bottom: 1px solid #999;
    position: relative;
    margin-top: 48px;
  }

  .homepod a{
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    border: 0;
    text-decoration: none;
}
  /* Button acheter */

  .buy-button {
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .buy-button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
  }





  /* Submenu */

  .subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
  }

  .subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
  }

  .menuItem:hover .subMenu {
    display: block;
  }


  /* Main */

  main{
    width: 100vw;
    overflow: hidden;
  }


  /* Hero */

  .hero {
      display: flex;
      width: 80vw;
      flex-direction: row;
      align-items: center;
      height: 70vh;
      margin-top: 50px;
  }

	.slider{
		height: 480px;
		width: 420px;
		position: relative;
		overflow: hidden;
	}
	.sliderContainer{
		position: absolute;
		display: flex;
		transition: ease-in .5s all;
		will-change: left;
	}

	.sliderContainer img{
		margin: 0 10px;

	}

	.dots{
		position: absolute;
		bottom: 20px;
		padding: 10px;
		left:50%;
		transform: translateX(-50%);
	}
	.dots li{
		display: inline-block;
	}
	.dots li a{
		background-color: #f2f2f2;
		text-decoration: none;
		padding: 1px 10px;
		border-radius: 50%;
		border: 1px solid #888;
	}
	.dots li a.current{
		background-color: #888;
	}

  .hero-informations {
      display: flex;
      flex-direction: column;
			width: 310px;
			margin-left: 20vh;
  }

  .hero-informations .color-selec {
      display: flex;
      flex-direction: row;
      cursor: pointer;
  }

  .hero-informations .color-selec *{
    margin: 10px 0;
}


  .hero-informations .color-selec .color-item{
    background: #f2f2f2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 150px;
    padding: 10px;
    justify-content: center;
		cursor: pointer;
	}

	.hero-informations .color-selec .color-item.selector-choice{
		border: 2px solid #07c;
	}

  .hero-informations .color-selec .color-item:first-child {
      margin-right: 15px;
  }


  .hero-informations .color-selec .color-item p{
      font-size: 16px;
  }

  .hero-informations h1{
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "SF Pro Text Bold";
  }

  .color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .color-circle.white{
      background: white;
  }
  .color-circle.grey{
    background: #333;
}

.infos-price .infos-price-full{
    margin: 20px 0px;
    font-family: "SF Pro Text Bold";
    font-size: 22px;
    position: relative;
}

.separator {
    width: 100%;
    height: 1px;
    background: #888;
    margin: 15px 0;
}

.infos-price-tva-offer{
    color: #888;
    font-size: 12px;
    margin: 5px 0px;
}

.icon-apple::before {
    content: "";
    color: red;
    margin-right: 5px;
}


.infos-care {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    border: 1px solid  #0070c9;
}

.infos-care.enabled {
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border: 1px solid  #07c;
    color: white;
}

.infos-care.enabled .disclaimer{
    color: white;
}

.infos-care:hover {
    transform: translateY(-2px);
}



.infos-care p:first-child {
    font-family: "SF Pro Text Bold";
    margin-bottom: 15px;
}

.infos-care ul li {
    text-align: left;
    margin: 5px 0;
}

.infos-care ul li:nth-child(2) {
    font-family: "SF Pro Text Bold";
}

.infos-care .disclaimer {
    color: #888;
    margin: 15px 0;
}


/*OK*/


.titleCaract {
  text-align: center;
  margin-top: 80px;
}

.titleCaract h2{
  font-size: 30px;
  font-family: "SF Pro Text Bold";
  letter-spacing: 1px;
  margin-top: 20px;
}

h3{
  font-family: "SF Pro Text Bold";
  margin-bottom: 15px;
}

.titleCaract p{
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.titleCaract img{
  margin-top: 30px;
  margin-bottom: 60px;
  width: 760px;
}

.text-caract{
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: -50px;
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.05;
  display: flex;
  flex-direction: row;
}


.image-caract img{
  display: block;
  margin-top: 100px;
  width: 240px;
  height: 587px;
}

.block1-1,.block1-2 {
    display: block;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    padding: 0px;
    border-radius: 4px;
  }

.block1{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #888;
  margin: 10px;
}

.block-principal{
  font-size: 16px;
  margin-top: 70px;
  margin-left: 75px;
}

.block-principal li{
  margin-bottom: 5px;
}
.block2-1,.block2-2 {
  display: block;
  margin-top: 20px;
  width: 100%;
  flex-direction: row;
  padding: 0px;
  border-radius: 4px;
  }

  .block2{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #888;
  margin: 10px;
  }

.block3-1,.block3-2 {
    display: block;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    padding: 0px;
    border-radius: 4px;
    }

.block3{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #888;
    margin: 10px;
  }






  /*Footer*/

  #footer {
    /* Déclaration du css footer */
    background-color: #f2f2f2;
    font-size: 11px;
    height: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  footer .footer-container-1 {
    /* Déclaration du css footer .footer-container */
    padding-top: 20px;

  }

  footer .footer-container-1 .col-1 {
    /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
    background-color: #f2f2f2;
    font-size: 11px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }


  /* ul et li du footer */

  ul {
    padding: 0px;
    list-style: none;
    text-align: center;
  }


  ul li {

    list-style: none;
    padding: 2px 0;
    text-align: center;
  }




  /* Les titres boutons du footers */
  footer p.title-footer {
      display: block;
      text-align: left;
      line-height: 1.5;
      cursor: pointer;
      list-style:none;
      font-weight: bold;
      font-size: 11px;
      text-decoration:none;
      color: #333;


  }

  /* Les Sous-titres boutons du footers */
  footer a.subtitle-footer {
      display: block;
      text-align: left;
      line-height: 1.7;
      font-size: 10px;
      cursor: pointer;
      list-style:none;
      text-decoration:none;
      color: #333;

  }

  .col-2-1 p{
    margin-top:40px ;
  }



  /* ------------------------------------------*/

  /* RESPONSIVE */

  /*Format Téléphone (- 440PX) */
  @media only screen and (max-width : 440px)
  {
  	/*Taille de la fenetre*/
  	.container
  	{
  		width: 100%;
  		margin: 0 auto;
  	}



      /*Menu normal avec responsive */

    	.primaryMenu
    	{
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
    		list-style: none;
    		width: 100vw;
    		height: 48px;
    		margin: 0;
    		padding: 0;
    	}
        header nav{
            width: 100vw
        }
    	.menuItem
    	{
            display: none;
    	}

        div.hamburger-nav
        {
            display: flex;
            justify-content: space-between;
        }
        header nav.container{
            width: 100%;
            margin: 0;
        }

    	button.hamburger
    	{
    		margin: 0;
    	}

    	ul.primaryMenu
    	{
    		display: none;
    	}



    	.menu-responsive
    	{
            display: block;
            margin-right: 40px;
    	}

    	.menu-responsive  a
    	{
    		text-decoration: none;
    		color: white;
    		font-size: 20px;
    	}

    	.menu-responsive:hover a
    	{
    		opacity: 0.65;
    		transition: 0.2s;
    	}

    	.menu-responsive a img
    	{
    		height: 16px;
    	}

    	.menu-responsive #logo-responsive
    	{
        padding-left: 50px;
    		font-size: 20px;
    		font-family: "SF Pro Text Bold";
    	}

      /*Menu responsive */

      .primaryMenu-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 100vw;
        height: 180px;
        margin: 0;
        padding: 0;
      }

      li.menuItem-responsive{
        padding: 5px;

      }

      .menuItem-responsive {
        flex-direction: row;
        position: relative;
      }

      .menuItem-responsive a {
        text-decoration: none;
        color: white;
        font-size: 14px;
      }

      .menuItem-responsive:hover a {
        opacity: 0.65;
        transition: 0.2s;
      }

      .menuItem-responsive a img {
        height: 14px;
      }

      #logo {
        font-size: 16px;
        font-family: "SF Pro Text Bold";
      }

      a#logo-responsive{
        display: block;
        margin: 18px 0;
      }


  	/* Main */


      .hero {
          display: flex;
          width: 90vw;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
      }

      div.titleCaract{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-top: 600px;

      }

      .hero-informations {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: 8vh;
     }

     .slider {
    height: 480px;
    width: 420px;
    position: relative;
    overflow: hidden;
    }
    .titleCaract h2 {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-left: 20px;
    }


  	/* Footer*/
  	footer .footer-container-1 .col-1
  	{
  		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
  		background-color: #f2f2f2;
  		font-size: 11px;
  		height: auto;
  		width: 100%;
  		display: flex;
  		flex-direction: column;
  		align-items: stretch;
  	}

  	footer p.title-footer
  	{
  		padding-top: 5px;
  		display: block;
  		text-align: center;
  		list-style: none;
  		font-weight: bold;
  		font-size: 15px;
  		text-decoration: none;
  		color: #111;
  	}

  	footer a.subtitle-footer
  	{
  		display: block;
  		text-align: center;
  		line-height: 1.7;
  		cursor: pointer;
  		list-style:none;
  		text-decoration:none;
  		color: #555;
  	}

  	.col-2-1 p
  	{
  		padding-top:40px;
  		padding: 0;
  	}
  }


  /*Format Téléphone (440PX/760PX) */
  @media only screen and (min-width : 440px) and (max-width : 979px)
  {
  	/*Taille de la fenetre*/
  	.container
  	{
  		width: 100%;
  		margin: 0;
  	}


      /*Menu normal avec responsive */

    	.primaryMenu
    	{
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
    		list-style: none;
    		width: 100vw;
    		height: 48px;
    		margin: 0;
    		padding: 0;
    	}
        header nav{
            width: 100vw
        }
    	.menuItem
    	{
            display: none;
    	}

        div.hamburger-nav
        {
            display: flex;
            justify-content: space-between;
        }
        header nav.container{
            width: 100%;
            margin: 0;
        }

    	button.hamburger
    	{
    		margin: 0;
    	}

    	ul.primaryMenu
    	{
    		display: none;
    	}



    	.menu-responsive
    	{
            display: block;
            margin-right: 40px;
    	}

    	.menu-responsive  a
    	{
    		text-decoration: none;
    		color: white;
    		font-size: 20px;
    	}

    	.menu-responsive:hover a
    	{
    		opacity: 0.65;
    		transition: 0.2s;
    	}

    	.menu-responsive a img
    	{
    		height: 16px;
    	}

    	.menu-responsive #logo-responsive
    	{
        padding-left: 50px;
    		font-size: 20px;
    		font-family: "SF Pro Text Bold";
    	}

      /*Menu responsive */

      .primaryMenu-responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 100vw;
        height: 180px;
        margin: 0;
        padding: 0;
      }

      li.menuItem-responsive{
        padding: 5px;

      }

      .menuItem-responsive {
        flex-direction: row;
        position: relative;
      }

      .menuItem-responsive a {
        text-decoration: none;
        color: white;
        font-size: 14px;
      }

      .menuItem-responsive:hover a {
        opacity: 0.65;
        transition: 0.2s;
      }

      .menuItem-responsive a img {
        height: 14px;
      }

      #logo {
        font-size: 16px;
        font-family: "SF Pro Text Bold";
      }

      a#logo-responsive{
        display: block;
        margin: 18px 0;
      }




      /* Main */


      div.hero {
          display: flex;
          width: 90vw;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
      }

      div.titleCaract{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-top: 600px;

      }

      .hero-informations {
      display: flex;
      flex-direction: column;
      width: 310px;
      margin-left: 35vh;
       }

       .slider {
      height: 480px;
      width: 420px;
      position: relative;
      overflow: hidden;
      left: 25%;
      }
      .titleCaract h2 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-left: 20px;
      }





  	/* Footer*/
  	footer .footer-container-1 .col-1
  	{
  		background-color: #f2f2f2;
  		font-size: 11px;
  		height: auto;
  		width: 100%;
  		display: flex;
  		flex-flow: row wrap;
  	}

  	div.col-1 div
  	{
  		width: 50%;
  	}

  	footer p.title-footer
  	{
  		padding-top: 5px;
  		display: block;
  		text-align: center;
  		list-style: none;
  		font-weight: bold;
  		font-size: 15px;
  		text-decoration: none;
  		color: #111;
  	}

  	footer a.subtitle-footer
  	{
  		display: block;
  		text-align: center;
  		line-height: 1.7;
  		cursor: pointer;
  		list-style:none;
  		text-decoration:none;
  		color: #555;
  	}

    .col-2-1 p{
      margin-top:40px ;
      padding: 0;
    }


  /*Format Tablette (760PX/1080PX) */
  @media only screen and (min-width : 980px) and (max-width : 1080px)
  {
  	/*Taille de la fenetre*/
  	.container
  	{
  		width: 100%;
  		margin: 0 auto;
  	}

  	/* Menu */
  	/* Main*/
  	/* Footer*/
  	footer .footer-container-1 .col-1
  	{
  		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
  		background-color: #f2f2f2;
  		font-size: 11px;
  		height: auto;
  		width: 100%;
  		display: flex;
  		justify-content: space-between;
  	}

  	footer p.title-footer
  	{
  		padding-top: 5px;
  		display: block;
  		text-align: center;
  		list-style: none;
  		font-weight: bold;
  		font-size: 15px;
  		text-decoration: none;
  		color: #111;
  	}

  	footer a.subtitle-footer
  	{
  		display: block;
  		text-align: center;
  		line-height: 1.7;
  		cursor: pointer;
  		list-style:none;
  		text-decoration:none;
  		color: #555;
  	}

  	.col-2-1 p
  	{
  		padding-top: 10px;
  		font-size: 12px;
  	}
  }


  /*Format grands écrants (+1480PX) */
  @media only screen and (min-width :1480px)
  {

  	/* Menu*/
  	/* Main*/
  	/* Footer*/
  	footer .footer-container-1 .col-1
  	{
  		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
  		background-color: #f2f2f2;
  		font-size: 11px;
  		height: auto;
  		width: 100%;
  		display: flex;
  		justify-content: space-between;
  	}

  	footer p.title-footer
  	{
  		padding-top: 5px;
  		display: block;
  		text-align: center;
  		list-style: none;
  		font-weight: bold;
  		font-size: 15px;
  		text-decoration: none;
  		color: #111;
  	}

  	footer a.subtitle-footer
  	{
  		display: block;
  		text-align: center;
  		line-height: 1.7;
  		cursor: pointer;
  		list-style:none;
  		text-decoration:none;
  		color: #555;
  	}

  	.col-2-1 p
  	{
  		padding-top: 10px;
  		font-size: 12px;
  	}
  }
}
