/* Variables */

body {
    --light-grey: #f2f2f2;
}




@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  @font-face {
    font-family: "SF Pro Text Bold";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  .container {
    width: 940px;
    margin: 0 auto;
  }
  
  /* Menu */
  
  #header {
    background: linear-gradient(to right, #777dff, #497ce2, #37bdde, #f154ff, #f0357c);
  }
  
  .primaryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
  }
  
  .menuItem {
    flex-direction: row;
    position: relative;
  }
  
  .menuItem a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .menuItem:hover a {
    opacity: 0.65;
    transition: 0.2s;
  }
  
  .menuItem a img {
    height: 14px;
  }
  
  #logo {
    font-size: 16px;
    font-family: "SF Pro Text Bold";
  }
  
  /* Button acheter */
  
  .buy-button {
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .buy-button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
  }
  

  
  
  /* Submenu */
  
  .subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
  }
  
  .subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
  }
  
  .menuItem:hover .subMenu {
    display: block;
  }
  
  


  /* Hero */

  .hero {
      display: flex;
      width: 80vw;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 70vh;
  }

  
  .hero-informations {
      display: flex;
      flex-direction: column;
      width: 310px;
  }

  .hero-informations .color-selec {
      display: flex;
      flex-direction: row;
      cursor: pointer;
  }

  .hero-informations .color-selec *{
    margin: 10px 0;
}

  .hero-informations .color-selec .color-item{
    background: var(--light-grey);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 150px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;
  }

  .hero-informations .color-selec .color-item:first-child {
      margin-right: 15px;
  }

  
  .hero-informations .color-selec .color-item p{
      font-size: 16px;
  }

  .hero-informations h1{
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "SF Pro Text Bold";
  }

  .color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .color-circle.white{
      background: white;
  }
  .color-circle.grey{
    background: #333;
}

.infos-price .infos-price-full{
    margin: 20px 0px;
    font-family: "SF Pro Text Bold";
    font-size: 22px;
    position: relative;
}

.separator {
    width: 100%;
    height: 1px;
    background: #888;
    margin: 15px 0;
}

.infos-price-tva-offer{
    color: #888;
    font-size: 12px;
    margin: 5px 0px;
}

.icon-apple::before {
    content: "";
    color: red;
    margin-right: 5px;
}


.infos-care {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    border: 1px solid  #0070c9;
}

.infos-care.enabled {
    background-color: #0070c9;
    border: 1px solid  #07c;
    color: white;
}

.infos-care.enabled .disclaimer{
    color: white;
}

.infos-care:hover {
    transform: translateY(-2px);
}



.infos-care p:first-child {
    font-family: "SF Pro Text Bold";
    margin-bottom: 15px;
}

.infos-care ul li {
    text-align: left;
    margin: 5px 0;
}

.infos-care ul li:nth-child(2) {
    font-family: "SF Pro Text Bold";
}

.infos-care .disclaimer {
    color: #888;
    margin: 15px 0;
}

  /*Footer*/
  
  #footer {
    /* Déclaration du css footer */
    background-color: var(--light-grey);
    font-size: 11px;
    height: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
  footer .footer-container-1 {
    /* Déclaration du css footer .footer-container */
    padding-top: 20px;
  
  }
  
  footer .footer-container-1 .col-1 {
    /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
    background-color: var(--light-grey);
    font-size: 11px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  
  /* ul et li du footer */
  
  ul {
    padding: 0px;
    list-style: none;
    text-align: center;
  }
  
  
  ul li {
  
    list-style: none;
    padding: 2px 0;
    text-align: center;
  }
  
  
  
  /* Les titres boutons du footers */
  footer p.title-footer {
    display: block;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    color: #333;
  
  
  }
  
  /* Les Sous-titres boutons du footers */
  footer a.subtitle-footer {
    display: block;
    text-align: center;
    line-height: 1.7;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: #555;
  
  }
  
  .col-2-1 p {
    margin: 0 40px;
    padding: 5px 0;
  }
  
  
  
  
  /*RESPONSIVE*/
  
  
  
  
  /*Format Téléphone*/
  @media only screen and (max-width : 440px) {
  
  
    .container {
      width: 440px;
      margin: 0 auto;
    }
  
    /*MENU Hamburger*/
  
  
    footer .footer-container-1 .col-1 {
      /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
      background-color: var(--light-grey);
      font-size: 11px;
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  
    footer p.title-footer {
      padding-top: 5px;
      display: block;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      color: #111;
    }
  
    footer a.subtitle-footer {
      display: block;
      text-align: center;
      line-height: 1.7;
      cursor: pointer;
      list-style: none;
      text-decoration: none;
      color: #555;
  
    }
  
    .col-2-1 p {
      padding-top: 10px;
      font-size: 12px;
  
    }
  
  
  }
  
  
  
  
  /*Format mini tablette*/
  @media only screen and (min-width : 440px) and (max-width : 760px) {
    /* Styles pour cette Media Queries */
  
  
    .container {
      width: 440px;
      margin: 0 auto;
    }
  
    /*MENU Hamburger*/
  
  
    footer .footer-container-1 .col-1 {
      /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
      background-color: var(--light-grey);
      font-size: 11px;
      height: auto;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
    }
  
  
    /*Toutes les div qui sont enfant de col-1*/
    div.col-1 div {
      width: 50%;
    }
  
    footer p.title-footer {
      padding-top: 5px;
      display: block;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      color: #111;
    }
  
    footer a.subtitle-footer {
      display: block;
      text-align: center;
      line-height: 1.7;
      cursor: pointer;
      list-style: none;
      text-decoration: none;
      color: #555;
  
    }
  
    .col-2-1 p {
      padding-top: 10px;
      font-size: 12px;
  
    }
  
  
  }
  
  
  
  /*Format tablette*/
  @media only screen and (min-width : 760px) and (max-width : 1080px) {
    /* Styles pour cette Media Queries */
  
    .container {
      width: 760px;
      margin: 0 auto;
    }
  
    /*MENU Hamburger*/
  
  
  
    footer .footer-container-1 .col-1 {
      /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
      background-color: var(--light-grey);
      font-size: 11px;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
  
    }
  
  
  
    footer p.title-footer {
      padding-top: 5px;
      display: block;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      color: #111;
    }
  
    footer a.subtitle-footer {
      display: block;
      text-align: center;
      line-height: 1.7;
      cursor: pointer;
      list-style: none;
      text-decoration: none;
      color: #555;
  
    }
  
    .col-2-1 p {
      padding-top: 10px;
      font-size: 12px;
  
    }
  
  
  }
  
  
  
  /*Format gros ordinateurs/écran */
  @media only screen and (min-width :1480px) {
  
    /* Styles pour cette Media Queries */
    .container {
      width: 1280px;
      margin: 0 auto;
    }
  
    /*MENU Hamburger*/
  
  
    footer .footer-container-1 .col-1 {
      /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
      background-color: var(--light-grey);
      font-size: 11px;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
  
    }
  
  
    footer p.title-footer {
      padding-top: 5px;
      display: block;
      text-align: center;
      list-style: none;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
      color: #111;
    }
  
    footer a.subtitle-footer {
      display: block;
      text-align: center;
      line-height: 1.7;
      cursor: pointer;
      list-style: none;
      text-decoration: none;
      color: #555;
  
    }
  
    .col-2-1 p {
      padding-top: 10px;
      font-size: 12px;
  
    }
  
  
  }