/* Page Caractéristiques */

@font-face {
  font-family: "SF Pro Text";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "SF Pro Text Bold";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/* Initialisation */

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #333;
}


.container {
  width: 940px;
  margin: 0 auto;
}


#header{
    z-index: 10;
    background: linear-gradient(to right, #777dff,#497ce2, #37bdde, #f154ff, #f0357c);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

/* Menu Normal */

.primaryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 48px;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
}

.menuItem {
  flex-direction: row;
  position: relative;
}

.menuItem a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menuItem:hover a {
  opacity: 0.65;
  transition: 0.2s;
}

.menuItem a img {
  height: 14px;
}

#logo {
  font-size: 16px;
  font-family: "SF Pro Text Bold";
}

/* Menu Reponsive*/

.menu-responsive{
  display: none;
}

div.responsive-menu{
  display: none;
}

div.hamburger-nav{
  display: none;
}

/* IF CLICK : OPEN */
 div.responsive-menu-open{
   display: flex;
   justify-content: space-around;
 }

 /* IF NOT CLICK : CLOSE */
 div.responsive-menu-none{
   display: none;
 }


.flex{
    display: flex;
}

/* Button acheter */

.buy-button{
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
}
.buy-button:hover{
    background-color: #147bcd;
    background: linear-gradient(#51a9ee,#147bcd);
    border-color: #1482d0;
    text-decoration: none;
    cursor: pointer;
}

/* Boutton Propre */


/* Submenu */

.subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
}
.subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
}
.menuItem:hover .subMenu {
    display: block;
}

/* Contenu du main*/

/*HomePod*/

.homepod{
    background: white;
    height: 60px;
    border-bottom: 1px solid #999;
    position: relative;
    margin-top: 48px;
}

.homepod a{
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    border: 0;
    text-decoration: none;
}


/* tableau */
.tab th{
    font-family: "SF Pro Text Bold";
    font-size: 18px;
    padding: 0 20px;
}

.tab td{
    text-align: center;
    padding: 0 5px;
}


/*image enceinte*/
.loudspeaker img{
    width: 500px;
    height: 450px;
    padding: 0px;
}

/*catchphrases*/
.catchphrase{
    width: 400px;
    text-align: center;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
}

/* Div caractéristiques*/
.caract{
    width: 400px;
    flex-direction: row;
    padding: 20px;
    /*box-shadow: 1px 1px 4px #999;*/
    border-radius:4px;
}
.caract h3{
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
.container-caract{
    margin-top: 10px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    flex-flow: row wrap;
}
.container-caract h4{
    margin: 0 auto;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    width: 92px;
}
.container-caract p{
    text-align: center;
    margin: 0 auto;
    width: 90px;
    padding: 5px;
    font-size: 18px;
    color: black;
}

/* Bouton off-set pour les caractéristiques */

.container-button{
    justify-content: space-around;
    margin-bottom: 30px;
}

.button-offset{
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}
.button-offset:hover{
    background-color: #0070c9;
    color: white;
    transition: 0.2s;
}

/* Display none pour les blocs des boutons*/

.offset{
    display: none;
    color: black;
    width: 880px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #999;
    margin-bottom: 30px;
}
.offset h3{
    line-height: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 25px;

}
.offset p{
    margin-left: 20px;
    line-height: 2;
}
.offset ul{
    margin-left: 50px;
    line-height: 2;
}
.offset ul li:not(.list-style){
    list-style: none;
}

button,.button-offset:hover{
    cursor: pointer;
}
.blue{
    background-color: #0070c9;
    color: white;
}

/* Div pour reste des infos */

.last-info {
    justify-content: space-around;
    flex-flow: row wrap;
}
.bloc-1-2 h5{
    font-size: 24px;
}
.bloc-1-2{
    width: 440px;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}
.bloc-1-2 li{
    padding: 5px;
    list-style: none;
}




/*Footer*/

#footer{
  /* Déclaration du css footer */
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

footer .footer-container-1 {
    /* Déclaration du css footer .footer-container */
    padding-top: 20px;

}

footer .footer-container-1 .col-1{
  /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* ul et li du footer */

.col-1 ul {
    padding: 0px;
    text-align: center;
}


.col-1 li {
    list-style:none;
    padding: 2px 0;
    text-align: center;
}


/* Les titres boutons du footers */
footer p.title-footer {
    display: block;
    text-align: left;
    line-height: 1.5;
    cursor: pointer;
    list-style:none;
    font-weight: bold;
    font-size: 11px;
    text-decoration:none;
    color: #333;


}

/* Les Sous-titres boutons du footers */
footer a.subtitle-footer {
    display: block;
    text-align: left;
    line-height: 1.7;
    font-size: 10px;
    cursor: pointer;
    list-style:none;
    text-decoration:none;
    color: #333;

}

.col-2-1 p{
  margin-top:40px ;
}







/* ------------------------------------------*/

/* RESPONSIVE */

/*Format Téléphone (- 440PX)*/
@media only screen and (max-width : 800px)

{
	/*Taille de la fenetre*/
	.container
	{
		width: 100%;
		margin: 0 auto;
	}

  /*Menu normal avec responsive */

	.primaryMenu
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		width: 100vw;
		height: 48px;
		margin: 0;
		padding: 0;
	}
    header nav{
        width: 100vw
    }
	.menuItem
	{
        display: none;
	}

    div.hamburger-nav
    {
        display: flex;
        justify-content: space-between;
    }
    header nav.container{
        width: 100%;
        margin: 0;
    }

	button.hamburger
	{
		margin: 0;
	}

	ul.primaryMenu
	{
		display: none;
	}



	.menu-responsive
	{
        display: block;
        margin-right: 40px;
	}

	.menu-responsive  a
	{
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

	.menu-responsive:hover a
	{
		opacity: 0.65;
		transition: 0.2s;
	}

	.menu-responsive a img
	{
		height: 16px;
	}

	.menu-responsive #logo-responsive
	{
    padding-left: 50px;
		font-size: 20px;
		font-family: "SF Pro Text Bold";
	}

  /*Menu responsive */

  .primaryMenu-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100vw;
    height: 180px;
    margin: 0;
    padding: 0;
  }

  li.menuItem-responsive{
    padding: 5px;

  }

  .menuItem-responsive {
    flex-direction: row;
    position: relative;
  }

  .menuItem-responsive a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .menuItem-responsive:hover a {
    opacity: 0.65;
    transition: 0.2s;
  }

  .menuItem-responsive a img {
    height: 14px;
  }

  #logo {
    font-size: 16px;
    font-family: "SF Pro Text Bold";
  }

  a#logo-responsive{
    display: block;
    margin: 18px 0;
  }



    /* Main */
    .body{
        font-size: 16px;
    }
    .catchphrase{
        font-size : 25px;
    }

    aside{
        width: 250px;
        height: auto;
    }
    .offset{
        font-size: 14px;
    }
    .offset h3{
        font-size: 18px;
        height: auto;
    }
    .loudspeaker{
        margin: 0 auto;
    }
    .loudspeaker img{
        width: 380px;
        height: auto;
    }
    .container-button{
        margin-bottom: 30px;
    }
    .button-offset{
        margin-top: 15px;
    }
    .flex{
        flex-flow: row wrap;
    }
    .offset{
        width: 380px;
    }
    .last-info h5{
        font-weight: bolder;
        font-size: 25px;
    }
    .last-info li{
        font-size: 18px;
    }
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top:40px;
		padding: 0;
	}
}


/*Format Tablette (760PX/1080PX) */
@media only screen and (min-width : 801px) and (max-width : 1024px)
{
	/*Taille de la fenetre*/
	.container
	{
		width: 100%;
		margin: 0 auto;
	}

    /* Menu */
    header{
        width: 100vw;
    }

    /* Main*/
    .homepod{
        width: 769;
        margin-top: 48px;
    }
    .catchphrase{
        font-size: 25px;
    }
    .caract{
        margin: 0 auto;
    }
    .loudspeaker{
        width: 280px;
    }
    .loudspeaker img{
        width: 300px;
        height: 300px;
    }
    .aside{
        width: 250px;
        height: auto;
    }
    .offset{
        margin-top: 30px;
        width: 660px;
    }
    .container-button{
        width: 700px;
    }
    .button-offset{
        width: 80px;
        font-size: 14px;
    }
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top: 10px;
		font-size: 12px;
	}
}


/*Format grands écrants (+1480PX) */
@media only screen and (min-width :1025px)
{

	/* Menu*/
	/* Main*/
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top: 10px;
		font-size: 12px;
	}
}
