/* Page Caractéristiques */

@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face{
    font-family: "SF Pro Text Bold";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}


body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    color: #333;
}


.flex{
    display: flex;
}
.container{
    width: 940px;
    margin: 0 auto;
}

/* Menu */

#header{
    background: linear-gradient(to right, #777dff,#497ce2, #37bdde, #f154ff, #f0357c);
}

.primaryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 48px;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
}
.menuItem {
    flex-direction: row;
    position: relative;
}
.menuItem a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.menuItem:hover a{
    opacity: 0.65;
    transition: 0.2s;
}
.menuItem a img{
    height: 14px;
}
#logo{
    font-size: 16px;
    font-family: "SF Pro Text Bold";
}
/* Button acheter */

.buy_button{
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
}
.buy_button:hover{
    background-color: #147bcd;
    background: linear-gradient(#51a9ee,#147bcd);
    border-color: #1482d0;
    text-decoration: none;
    cursor: pointer;
}

/* Boutton Propre */


/* Submenu */

.subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
}
.subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
}
.menuItem:hover .subMenu {
    display: block;
}

/* Contenu du main*/

/*HomePod*/

.homepod{
    background: white;
    height: 84px;
    border-bottom: 1px solid #999;
    position: relative;
}

.homepod button{
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: grey;
    border: 0;
}


/*image enceinte*/
.loudspeaker img{
    width: 500px;
    height: 450px;
    padding: 0px;
}

/*catchphrases*/
.catchphrase{
    width: 400px;
    text-align: center;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

/* Div caractéristiques*/
.caract{
    margin-top: 20px;
    width: 400px;
    flex-direction: row;
    padding: 20px;
    box-shadow: 1px 1px 4px #999;
    border-radius:4px;
}
.caract h3{
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
}
.container_caract{
    margin-top: 10px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    flex-flow: row wrap;
}
.container_caract h4{
    margin: 0 auto;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    width: 92px;
}
.container_caract p{
    text-align: center;
    margin: 0 auto;
    width: 90px;
    padding: 5px;
    font-size: 18px;
    color: black;
}

/* Bouton off-set pour les caractéristiques */

.container_button{
    justify-content: space-around;
    margin-bottom: 30px;
}

.button_offset{
    width: 100px;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}
.button_offset:hover{
    background-color: #0070c9;
    color: white;
    transition: 0.2s;
}

/* Display none pour les blocs des boutons*/

.offset{
    display: none;
    color: black;
    width: 880px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #999;
}
.offset h3{
    line-height: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 25px;

}
.offset p{
    margin-left: 20px;
    line-height: 2;
}
.offset ul{
    margin-left: 50px;
    line-height: 2;
}

button,.button_offset:hover{
    cursor: pointer;
}

/*Footer*/

#footer{
  /* Déclaration du css footer */
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

footer .footer_container {
    /* Déclaration du css footer .footer_container */
    padding: 40px;

}

footer .footer_container .div_1{
  /* Déclaration du css footer .footer_container .div_1 , (Parent des sections)*/
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* ul et li du footer */

ul {
    padding: 0px;
    list-style:none;
    text-align: center;
}


ul li {

    list-style:none;
    padding: 2px 0;
    text-align: center;
}



/* Les titres boutons du footers */
footer a.title_footer {
    display: block;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    list-style:none;
    font-weight: bold;
    font-size: 12px;
    text-decoration:none;
    color: #333;


}

/* Les Sous_titres boutons du footers */
footer a.subtitle_footer {
    display: block;
    text-align: center;
    line-height: 1.7;
    cursor: pointer;
    list-style:none;
    text-decoration:none;
    color: #333;

}

.div_2_1 p{
  margin: 0 40px ;
  padding: 5px 0;
}
