@font-face {
  font-family: "SF Pro Text";
  font-weight: normal;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "SF Pro Text Bold";
  font-weight: bold;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/* Initialisation */

body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #333;
}


.container {
  width: 940px;
  margin: 0 auto;
}



#header{
  z-index: 10;
  background: linear-gradient(to right, #777dff,#497ce2, #37bdde, #f154ff, #f0357c);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

/* Menu Normal */

.primaryMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
}

.menuItem {
  flex-direction: row;
  position: relative;
}

.menuItem a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.menuItem:hover a {
  opacity: 0.65;
  transition: 0.2s;
}

.menuItem a img {
  height: 14px;
}

#logo {
  font-size: 16px;
  font-family: "SF Pro Text Bold";
}

/* Menu Reponsive*/

.menu-responsive{
  display: none;
}

div.responsive-menu{
  display: none;
}

div.hamburger-nav{
  display: none;
}

/* IF CLICK : OPEN */
 div.responsive-menu-open{
   display: flex;
   justify-content: space-between;
 }

 /* IF NOT CLICK : CLOSE */
 div.responsive-menu-none{
   display: none;
 }


.flex{
    display: flex;
}


/* Button acheter */

.buy-button {
  background-color: #0070c9;
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
}

.buy-button:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

/* Boutton Propre */


/* Submenu */

.subMenu {
  padding: 0px;
  margin: 0px;
  display: none;
  list-style: none;
  position: absolute;
}

.subMenu a {
  text-decoration: none;
  color: #333;
  background: white;
}

.menuItem:hover .subMenu {
  display: block;
}

/* Main */

main{
  width: 100vw;
  height: 1200px;
  overflow: hidden;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
/* Images du main */
 #img1{
   z-index: -5;
   width: 1280px;
   height: 800px;
   /*top: -185px;
   left: -445px;*/
   transform: translateX(-500px) translateY(-200px);
 }
 #img2{
   z-index: -4;
  width: 350px;
  height: 350px;
  top: 50px;
  left: 60px;
 }
 #img3{
   z-index: -5;
   width: 515px;
   height: 500px;
   top: 0;
   right: 0;
   transform: translateX(200px) translateY(200px);
 }
 #img4{
   z-index: -4;
   width: 780px;
   height: 400px;
   top: 0;
   right: 0;
   transform: translateX(175px) translateY(240px);
 }

 /* Texte du main */
.h1{
  text-align: center;
  width: 600px;
  height: auto;
  top: 0;
  left: 0;
  transform: translateX(530px) translateY(50px);
}
.h1 h1{
  color: grey;
  font-size: 55px;
}
.h2{
  text-align: center;
  width: 500px;
  height: auto;
  margin-top: 200px;
  margin-left: 450px;
  margin-bottom: 100px;
}
.h2 h2{
  font-weight: lighter;
  font-size: 30px;
}
main div.container{
  text-align: center;
}
main div.container h3{
  width: 300px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bolder;
  padding: 0;
}
main div.container span{
  font-size: 35px;
}

main div.container p{
  font-size: 25px;
}

/*slider*/
.slider{
  position:relative;
  margin:20px 0;
  width:100%;
  height: 400px;
  overflow: hidden;
}

.sliderContainer{
  position:absolute;
  display: flex;
  transition:ease-in 0.5s all;
  will-change:left;
}

.sliderContainer img{
  margin:60px 10px;
}

.arrowLeft{
  position: absolute;
  top: 260px;
  left:200px;
  background: white;
  color: black;
  padding: 15px;
  border:2px solid black;
  border-radius: 20%;
}
.arrowRight{
  position: absolute;
  top: 260px;
  right: 200px;
  background: white;
  color: black;
  padding: 15px;
  border:2px solid black;
  border-radius: 20%;
}


/*ondes*/
.container{
  width: 940px;
  margin: 0 auto;
}

.main-center{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.ondes{
  width: 600px;
  margin: 0px 170px;
  height: 400px;
}

.main-center img{
  height: 100px;
  margin-bottom: -10px;
}

/*Music*/

.main-music{
  width: 600px;
  margin: 60px auto;
  text-align: center;
}
#music{
  height: 500px;
}

#space{
  margin-bottom: -20px;
}

.main-music img#logo{
  height: 80px;
  weight: 80px;
}

h2{
  font-size: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee5253), to(#ff9f43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
  font-size: 13px;
}

a:hover{
  font-size: 14px;
  cursor: pointer;
  color: blue;
}

#lien{
  margin-bottom: 0px;
}

#margin{
  padding-top: 50px;
}

/*Footer*/

#footer{
  /* Déclaration du css footer */
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  padding: 5px 0;


}

footer .footer-container-1 {
    /* Déclaration du css footer .footer-container */
    padding-top: 20px;

}

footer .footer-container-1 .col-1{
  /* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* ul et li du footer */

.col-1 ul {
    padding: 0px;
    text-align: center;
}


.col-1 li {
    list-style:none;
    padding: 2px 0;
    text-align: center;
}



/* Les titres boutons du footers */
footer p.title-footer {
    display: block;
    text-align: left;
    line-height: 1.5;
    cursor: pointer;
    list-style:none;
    font-weight: bold;
    font-size: 11px;
    text-decoration:none;
    color: #333;


}

/* Les Sous-titres boutons du footers */
footer a.subtitle-footer {
    display: block;
    text-align: left;
    line-height: 1.7;
    font-size: 10px;
    cursor: pointer;
    list-style:none;
    text-decoration:none;
    color: #333;

}

.col-2-1 p{
  margin-top:40px ;
}



/* ------------------------------------------*/

/* RESPONSIVE */

/*Format Téléphone (- 440PX) */
@media only screen and (max-width : 440px)
{
	/*Taille de la fenetre*/
	.container
	{
		width: 240px;
		margin: 0 auto;
	}

  /*Menu normal avec responsive */

	.primaryMenu
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		width: 100%;
		height: 48px;
		margin: 0;
		padding: 0;
	}

	.menuItem
	{
		display: none;
	}

  div.hamburger-nav
  {
    display: flex;
    justify-content: space-between;
  }

	button.hamburger
	{
		margin: 0;
	}

	ul.primaryMenu
	{
		display: none;
	}



	.menu-responsive
	{
		display: block;
	}

	.menu-responsive  a
	{
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

	.menu-responsive:hover a
	{
		opacity: 0.65;
		transition: 0.2s;
	}

	.menu-responsive a img
	{
		height: 20px;
	}

	.menu-responsive #logo-responsive
	{
    padding-left: 50px;
		font-size: 20px;
		font-family: "SF Pro Text Bold";
	}

  /*Menu responsive */

  .primaryMenu-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
  }

  li.menuItem-responsive{
    padding: 5px;

  }

  .menuItem-responsive {
    flex-direction: row;
    position: relative;
  }

  .menuItem-responsive a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .menuItem-responsive:hover a {
    opacity: 0.65;
    transition: 0.2s;
  }

  .menuItem-responsive a img {
    height: 14px;
  }

  #logo {
    font-size: 16px;
    font-family: "SF Pro Text Bold";
  }

  a#logo-responsive{
    display: block;
    margin: 18px 0;
  }



	/* Main */
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top:40px;
		padding: 0;
	}
}


/*Format Téléphone (440PX/760PX) */
@media only screen and (min-width : 440px) and (max-width : 979px)
{
	/*Taille de la fenetre*/
	.container
	{
		width: 100%;
		margin: 0 auto;
	}

  /*Menu normal avec responsive */

	.primaryMenu
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		width: 100%;
		height: 48px;
		margin: 0;
		padding: 0;
	}

	.menuItem
	{
		display: none;
	}

  div.hamburger-nav
  {
    display: flex;
    justify-content: space-between;
  }

	button.hamburger
	{
		margin: 0;
	}

	ul.primaryMenu
	{
		display: none;
	}



	.menu-responsive
	{
		display: block;
	}

	.menu-responsive  a
	{
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

	.menu-responsive:hover a
	{
		opacity: 0.65;
		transition: 0.2s;
	}

	.menu-responsive a img
	{
		height: 20px;
	}

	.menu-responsive #logo-responsive
	{
    padding-left: 50px;
		font-size: 20px;
		font-family: "SF Pro Text Bold";
	}

  /*Menu responsive */

  .primaryMenu-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
  }

  li.menuItem-responsive{
    padding: 5px;

  }

  .menuItem-responsive {
    flex-direction: row;
    position: relative;
  }

  .menuItem-responsive a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .menuItem-responsive:hover a {
    opacity: 0.65;
    transition: 0.2s;
  }

  .menuItem-responsive a img {
    height: 14px;
  }

  #logo {
    font-size: 16px;
    font-family: "SF Pro Text Bold";
  }

    a#logo-responsive{
      display: block;
      margin: 18px 0;
    }

	/* Main */
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
	}

	div.col-1 div
	{
		width: 50%;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

  .col-2-1 p{
    margin-top:40px ;
    padding: 0;
  }


/*Format Tablette (760PX/1080PX) */
@media only screen and (min-width : 980px) and (max-width : 1080px)
{
	/*Taille de la fenetre*/
	.container
	{
		width: 100%;
		margin: 0 auto;
	}

	/* Menu */
	/* Main*/
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top: 10px;
		font-size: 12px;
	}
}


/*Format grands écrants (+1480PX) */
@media only screen and (min-width :1480px)
{

	/* Menu*/
	/* Main*/
	/* Footer*/
	footer .footer-container-1 .col-1
	{
		/* Déclaration du css footer .footer-container .div-1 , (Parent des sections)*/
		background-color: #f2f2f2;
		font-size: 11px;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	footer p.title-footer
	{
		padding-top: 5px;
		display: block;
		text-align: center;
		list-style: none;
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
		color: #111;
	}

	footer a.subtitle-footer
	{
		display: block;
		text-align: center;
		line-height: 1.7;
		cursor: pointer;
		list-style:none;
		text-decoration:none;
		color: #555;
	}

	.col-2-1 p
	{
		padding-top: 10px;
		font-size: 12px;
	}
}
