/* Page HomePod */

@font-face {
    font-family: "SF Pro Text";
    font-weight: normal;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face{
    font-family: "SF Pro Text Bold";
    font-weight: bold;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}


body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    color: #333;
}

.container{
    width: 940px;
    margin: 0 auto;
}

/* Menu */

#header{
    background: linear-gradient(to right, #777dff,#497ce2, #37bdde, #f154ff, #f0357c);
}

.primaryMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0;
}

.menuItem {
    flex-direction: row;
    position: relative;
}
.menuItem a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.menuItem:hover a{
    opacity: 0.65;
    transition: 0.2s;
}
.menuItem a img{
    height: 14px;
}
#logo{
    font-size: 16px;
    font-family: "SF Pro Text Bold";
}
/* Button acheter */

.buy_button{
    background-color: #0070c9;
    background: linear-gradient(#42a1ec,#0070c9);
    border-color: #07c;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
}
.buy_button:hover{
    background-color: #147bcd;
    background: linear-gradient(#51a9ee,#147bcd);
    border-color: #1482d0;
    text-decoration: none;
}

/* Boutton Propre */


/* Submenu */

.subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
}
.subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
}
.menuItem:hover .subMenu {
    display: block;
}




/*Footer*/

#footer{
  /* Déclaration du css footer */
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

footer .footer_container_1 {
    /* Déclaration du css footer .footer_container */
    padding-top: 20px;

}

footer .footer_container_1 .col_1{
  /* Déclaration du css footer .footer_container .div_1 , (Parent des sections)*/
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* ul et li du footer */

ul {
    padding: 0px;
    list-style:none;
    text-align: center;
}


ul li {

    list-style:none;
    padding: 2px 0;
    text-align: center;
}



/* Les titres boutons du footers */
footer a.title_footer {
    display: block;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    list-style:none;
    font-weight: bold;
    font-size: 12px;
    text-decoration:none;
    color: #333;


}

/* Les Sous_titres boutons du footers */
footer a.subtitle_footer {
    display: block;
    text-align: center;
    line-height: 1.7;
    cursor: pointer;
    list-style:none;
    text-decoration:none;
    color: #333;

}

.col_2_1 p{
  margin: 0 40px ;
  padding: 5px 0;
}



/*RESPONSIVE*/

/*Téléphone Portait*/
@media only screen and (max-width : 320px) {
/* Styles pour cette Media Queries */
}



/*Téléphone Paysage*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles pour cette Media Queries */
}



/*Ipad Paysage*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
/* Styles pour cette Media Queries */
}




/*Ipad Portrait*/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
/* Styles pour cette Media Queries */

footer .footer_container_1 .col_1{
  /* Déclaration du css footer .footer_container .div_1 , (Parent des sections)*/
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

}




/*Petit ordinateur*/
@media only screen and (min-width : 1224px){
/* Styles pour cette Media Queries */
}




/*Large Computer*/
@media only screen and (min-width : 1824px) {
/* Styles pour cette Media Queries */
}
