body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    color: rgba(45,45,45,0.98);
}

.container{
    width: 940px;
    margin: 0 auto;
}

#header{
    background-color: rgba(45,45,45,0.98);
}

.primaryMenu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    line-height: 3.14286;
    margin: 0;
}

.menuItem {
    flex-direction: row;
    position: relative;
}


.menuItem:hover .subMenu {
    display: block;
}

.menuItem a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.menuItem:hover a{
    color: #999;
}

.subMenu {
    padding: 0px;
    margin: 0px;
    display: none;
    list-style: none;
    position: absolute;
}
.subMenu a {
    text-decoration: none;
    color: #333;
    background: white;
}